{% extends 'role/layout.html' %}
{% from "_formhelpers.html" import render_field %}

{% block page_title %}
Roles - Agregar miembro
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<a href="{{ url_for('.detail', pk=role.id) }}" class="breadcrumb">Miembros</a>
<a href="{{ url_for('.add_member', pk=role.id) }}" class="breadcrumb">Agregar</a>
{% endblock breadcrumbs %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <h4 class="mb-5">Administración de Roles</h4>
        <p>Agregar rol {{ role.name }} a:</p>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row"> {{ render_field(form.username, 's12') }} </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Agregar
                        <i class="material-icons left">person_add</i>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}
