<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block page_title %}Title{% endblock %}</title>

    <!-- CSS  -->
    <link href="{{ static_url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ static_url_for('static', filename='css/utils.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="shortcut icon" href="{{ static_url_for('static', filename='favicon.ico') }}">

    {% block htmlhead %}{% endblock %}
</head>
<body>
    <header>
      <div class="navbar-fixed">
        <nav class="">
          <div class="nav-wrapper container">
            <div class="brand-logo">
              <a href="{{ url_for('default.index') }}">
                {% block brand %}Redacción{% endblock brand %}
              </a> 
            </div>
           
            <ul class="right hide-on-med-and-down">
              {% include "_navbar_links.html" %}
            </ul>
          </div>
        </nav>
      </div>
      {% block breadcrumb %}
      {% if breadcrumbs|length > 1 %}
      <nav class="px-3">
          <div class="nav-wrapper">
            {% for breadcrumb in breadcrumbs %}
            <a href="{{ breadcrumb.url }}" class="breadcrumb">{{ breadcrumb.text }}</a>
            {% endfor %}
          </div>
      </nav>
      {% endif %}
      {% endblock %}
    </header>
    <main>
       
        <!-- main section -->
        <div class="row mt-3"> 
            <div class="col s12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <!-- the footer -->
        <div class="footer-copyright">
          <div class="container ">
            © 2020 Redacción Adelante, por Yoel Benítez Fonseca
            <a class="right" href="https://www.python.org/" target="_blanck">
              Powered by Python
            </a>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="{{ static_url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ static_url_for('static', filename='js/materialize.min.js') }}"></script>
    <!-- <script src="{{ static_url_for('static', filename='js/init.js') }}"></script> -->
    {% block page_js %}{% endblock %}
    </body>
</html>
