{% if not board.isPersonal() %}
  {% extends 'layout_breadcrumbs.html' %}

  {% block breadcrumbs %}
  {{ super() }}
  <a href="{{ url_for('.list_boards') }}" class="breadcrumb">Carpetas</a>
  <a href="#!" class="breadcrumb">{{ board.name }}</a>
  {% endblock breadcrumbs %}
{% else %}
  {% extends 'layout.html' %}
{% endif %}

{% block page_title %}
  {% if is_personal %}Mis trabajos{% else %}Newswriter - {{ board.name }}{% endif %}
{% endblock %}

{% block content %}

{% if not is_personal %}
  <h4><i class="material-icons">dashboard</i> {{ board.name }}</h4>
{% else %}
  <h4><i class="material-icons">dashboard</i> Mis trabajos</h4>
{% endif %}

<div class="works-list">

  {% if results.total > 0 %}

  {% for item in results.items %}
  <div class="card">
    <div class="card-content">
      <span class="card-title"><a href="{{ url_for('.preview', pkid=item.id) }}">{{ item.headline }}</a></span>
      <p class="work-excerpt px-4">
        {% if item.excerpt %}
        {{ item.excerpt | striptags | truncate(140) }}
        {% else %}
        {{ item.getFirstTextBlock() | striptags | truncate(140) }}
        {% endif %}
      </p>
    </div>
    <div class="card-action">
      {% if ActualizarArticulosPermission(board.name).can() %}
        <a href="{{ url_for('default.write', pkid=item.id) }}">Editar</a>
      {% endif %}
      <a href="{{ url_for('.preview', pkid=item.id) }}">Ver</a>
      <a href="{{ url_for('.download_article', pkid=item.id) }}" title="Descargar articulo">Exportar</a>
      {% if EnviarArticulosPermission(board.name).can() %}
      <a href="{{ url_for('.move_article', artid=item.id) }}">Mover a ...</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <div class="center-align mt-5">
    <a href="{{ '#!' if results.has_prev is false else url_for('.index', page=results.prev_num)}}"
      class="waves-effect waves-light btn {{ 'disabled' if results.has_prev is false else ''}}"><i
        class="material-icons left">chevron_left</i> Anterior</a>
    <a href="{{ '#!' if results.has_next is false else url_for('.index', page=results.next_num)}}"
      class="waves-effect waves-light btn ml-5 {{ 'disabled' if results.has_next is false else ''}}">Siguiente <i
        class="material-icons right">chevron_right</i></a>
  </div>
  {% else %}
  <div class="card">
    <div class="card-content">
      <span class="card-title center-align">
        No se encontró ningún artículo
      </span>
      <div class="card-action">
        <a href="{{ url_for('default.write') }}">Escribir uno</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
